@import "tailwindcss";

@font-face {
	font-family: "Inter";
	src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
}

body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}
